@model WebApp.Models.Result<List<WebApp.Models.Domain.BaseOrder>>

@if (Model != null)
{
    if (Model.Failure)
    {
        <div>@Model.Message</div>
    }
    else
    {
        if (Model.Value.Count > 0)
         {
             <table style="border: 1px solid black;">
                 <tr style="border: 1px solid black;">
                     <td style="border: 1px solid black;">Price</td>
                     <td style="border: 1px solid black;">Amount</td>
                     <td style="border: 1px solid black;">Note</td>
                 </tr>
                 @foreach (var order in Model.Value)
                 {
                     <tr style="border: 1px solid black;">
                         <td style="border: 1px solid black;">@order.Price</td>
                         <td style="border: 1px solid black;">@order.AvailableAmount</td>
                         <td style="border: 1px solid black;">@order.Note</td>
                     </tr>
                 }

             </table>
         }

        if (Model.Value.Count == 0)
    {
        <div>There are no open offers</div>
    }

    }
}
