@model IEnumerable<MvcApp.Models.Domain.Order>

@Html.ValidationSummary(true)
@if (Model == null || !Model.Any())
{
    <div>There is no orders</div>
}
else
{
<table>
    <tr>
        <td>Price</td>
        <td>Amount</td>
        <td>Note</td>
    </tr>
    @foreach (var order in @Model)
    {
        <tr>
            <td>@order.Price</td>
            <td>@order.AvailableAmount</td>
            <td>@order.Note</td>
        </tr>
    }
</table>  
}